---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - logger.logger.com
  resources:
  - loggers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - logger.logger.com
  resources:
  - loggers/finalizers
  verbs:
  - update
- apiGroups:
  - logger.logger.com
  resources:
  - loggers/status
  verbs:
  - get
  - patch
  - update
